*{
    box-sizing: border-box;
    
   
}
 body{
    
  -webkit-app-region: drag;
    margin: 0;
    overflow: hidden;
}

   
 

#app-body{
    border-radius: 25px;
border: 3px solid #FFF;
background: rgba(44, 35, 66, 0.70);
 width: 100vw;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
#month{
    display: flex;
width: 182px;
height: 44px;
padding: 8px 57px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 50px;
border: 4px solid #F8FCFF;
background: rgba(151, 90, 111, 0.70);
color: #FFF;
text-align: center;
font-family: "Irish Grover";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#calendar{
    width: 182px;
height: 140px;
margin-top: 20px;
    border-radius: 20px;
border: 4px solid #FEFEFE;
background: rgba(151, 90, 111, 0.70);
}
#date{
    color: #FFF;
text-align: center;
font-family: "Irish Grover";
font-size: 86px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#day{
    color: #FFF;
text-align: center;
font-family: "Irish Grover";
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
}